*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

body{
  background-image: url("../imagens/y_background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.main_grid{
  width: 100%;
}

.logo_container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%; 
  margin-top: 25px;
}

.logo{
  width:140px;
  grid-column-start: 2;
  margin: 0 auto;
}

.cham1{
  display: inline-grid;
  width: 100%;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  margin-top: 25px;
}

#linha1{
  grid-column-start: 2;
  font-family: 'Fredericka the Great', cursive;
  font-size: 3rem;
  text-align: center;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

span{
  font-size: 4rem;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
}

.cham2{
  display: inline-grid;
  width: 100%;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  margin-top: 25px;
}

#linha2{
  grid-column-start: 2;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.7rem;
  text-align: center;
}

.cham3{
  display: inline-grid;
  width: 100%;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  margin-top: 25px;
}

#linha3{
  grid-column-start: 2;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.social_media_boxes{
  display: inline-grid;
  width: 100%;
  grid-template-columns: 1fr repeat(4, 0.5fr) 1fr;
  margin-top: 25px;
}

.social1{
  grid-column-start: 2;
  margin: 0 auto;
}

#instagram{
  width: 60px;
}

.social2{
  grid-column-start: 3;
  margin: 0 auto;
}

#facebook{
  width: 50px;
}

.social3{
  grid-column-start: 4;
  margin: 0 auto;
}

#twitter{
  width: 50px;
}

.social4{
  grid-column-start: 5;
  margin: 0 auto;
}

#whatsapp{
  width: 50px;
}

#head4{
  margin-top: 20px;
  margin-left: 125px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1rem;
  color: black;
  text-shadow: 0px 0px 15px black;
}

.main_cadastro_container{
  margin-top: 25px;
  margin-bottom: 25px;
}

.cadastro_container {
  display: grid;
  grid-template-columns: 0.4fr repeat(2, 0.7fr) 1fr 0.5fr 1fr;
  margin-top: 10px;
}

.label_cad{
  grid-column-start: 2;
  grid-column-end: 2;
}

#label1{
  font-family: 'PT Sans Narrow', sans-serif;
  font-style: italic;
  font-size: 1rem;
  color:black;
  text-shadow: 0px 0px 15px black;
  margin-left: 5px;
}

#label2{
  font-family: 'PT Sans Narrow', sans-serif;
  font-style: italic;
  font-size: 1rem;
  color:black;
  text-shadow: 0px 0px 15px black;
  margin-left: 5px;
}

#label3{
  font-family: 'PT Sans Narrow', sans-serif;
  font-style: italic;
  font-size: 1rem;
  color:black;
  text-shadow: 0px 0px 15px black;
  margin-left: 5px;
}

#label4{
  font-family: 'PT Sans Narrow', sans-serif;
  font-style: italic;
  font-size: 1rem;
  color:black;
  text-shadow: 0px 0px 15px black;
  margin-left: 5px;
}

.form_grid_item {
  grid-column-start: 2;
  grid-column-end:2;
  opacity: 0.5;
}

.form_grid_item2 {
  grid-column-start: 3;
  grid-column-end:3;
  opacity: 0.5;
}

.form_grid_item3 {
  grid-column-start: 4;
  grid-column-end:4;
  opacity: 0.5;
}

.form_grid_item4 {
  grid-column-start: 5;
  grid-column-end:5;
  opacity: 0.5;
}

.form_grid_item5 {
  grid-column-start: 6;
  grid-column-end:6;
}

.form_grid_item6 {
  grid-column-start: 7;
  grid-column-end:7;
}

.cad_form_input{
  border-radius: 5px;
  width: 215px;
  height: 29px;
  border: none;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
}

.cad_form_input2{
  border-radius: 5px;
  width: 215px;
  height: 29px;
  border: none;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
}

.cad_form_input3{
  border-radius: 5px;
  width: 309px;
  height: 29px;
  border: none;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  text-transform: lowercase;
}

#estados{
  border-radius: 5px;
  width: 156px;
  height: 29px;
  border: none;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.cad_btn{
  border-radius: 5px;
  width: 80px;
  height: 29px;
  border: none;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 0.9rem;
  color: yellow;
  background-color: black;
}

.btn{
  display: inline-grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.back_btn{
  grid-column-start: 2;
  border-radius: 5px;
  width: 80px;
  height: 29px;
  border: none;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1rem;
  color: yellow;
  background-color: black;
  margin: 0 auto;
  margin-top: 25px;
}